*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --fs-heading: 4rem;
  --fs-texting: 2rem;


  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;

  --purple-white: hsla(218, 17%, 62%, 1);
  --white-blue: hsla(233, 100%, 97%, 1);
  --pink-purple: hsla(275, 18%, 79%, 1);
  --pink: hsla(312, 91%, 96%, 1);
  --purple: hsla(274, 84%, 12%, 1);
  --purple-text: hsla(232, 17%, 35%, 1);
  --white:hsla(0, 0%, 100%, 1);

}

body::before {
  content: '';
  width: 100%;
  height: 27.9rem; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--purple-white);
}
body {
  background-color: var(--white-blue);
}



header {
  
  display: flex;
 
  flex-direction: column;
  
  align-items: center;

  animation: topdow 700ms; 
}

header img {
  width: 13.7rem;
  height: 13.7rem;
  margin: 32px auto;
}



header h1 {
  
  
  width: 100%;
  height: 4.9rem;
  background-color: var(--pink-purple);
  align-items: center;
  padding: 0.8rem auto;
  
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: var(--fs-heading);
  line-height: 3.4rem;
  color: var(--white);
  

  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  
  display: flex;
  justify-content: center; 
  margin-bottom: 5rem;
}



p {
 max-width: 384px;
 margin: 0 auto auto;
 
  
  

  padding: 0 3.2rem 0 3.2rem;
  
  font-family: var(--ff-texting);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--purple);
 
  
  display: block;
  
  
  text-align: center;
  animation: topdow 620ms;
}

.page {
  max-width: 384px;
  
  margin: 0 auto auto;

  animation: photos-rigth-left 900ms;
}
main {
  padding: 6.3rem 3.2rem 6rem;
}


.cards {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.card-ice-cream-1,
.card-ice-cream-2,
.card-ice-cream-3,
.card-ice-cream-4,
.card-ice-cream-5,
.card-ice-cream-6 {
  position: relative;
}

.card-ice-cream-1 img,
.card-ice-cream-2 img,
.card-ice-cream-3 img,
.card-ice-cream-4 img,
.card-ice-cream-5 img,
.card-ice-cream- img {
  width: 32rem;
  height: auto;
  object-fit: cover;
}

.card-ice-cream-1 img:hover,
.card-ice-cream-2 img:hover,
.card-ice-cream-3 img:hover,
.card-ice-cream-4 img:hover,
.card-ice-cream-5 img:hover,
.card-ice-cream-6 img:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.card-ice-cream-1 h2,
.card-ice-cream-2 h2,
.card-ice-cream-3 h2,
.card-ice-cream-4 h2,
.card-ice-cream-5 h2,
.card-ice-cream-6 h2 {
  font-size: var(--fs-texting);
  font-family: var(--ff-texting);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05rem;
  color: var(--purple-text);
  text-transform: uppercase;
  
  
  border-radius: 2rem;
  background-color: var(--pink);
  width: fit-content;
  padding: 0.1rem 2.3rem;

  position: absolute;
  right: 1.3rem;
  top: 1.7rem;

  display: flex;
  flex-direction: column;
  gap: 3.6rem;

}

footer {
  opacity: 0;
  font-family: var(--ff-texting);
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--purple);
  font-weight: 400;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
}


@keyframes topdow {
  0%{
    opacity:0;
    transform: translateY(-15%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes photos-rigth-left {
  0% {
    opacity: 0;
    transform: translatex(900px);
}

  100% {
  opacity: 1;
  transform: translatex(0);
}
}

@media (min-width: 930px) {
 
  body::before {
    content: none;
  }
  body {
  background: var(--white-blue);
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 300px;
  
  }

  header {
    
    width: 37.7rem;
    height: 30.1rem;

    background-color: var(--purple-white);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  header h1 {
    width: 37.7rem;
    height: 7rem;
    background-color: var(--pink-purple);
    font-size: 4.8rem;
    line-height: 3.4rem;
    margin-bottom: 3.2rem;
  }

  p {
    width: 37.7rem;
    height: 44.9rem;
    
    margin: 0;
   

    background-color: var(--purple-white);
    color: var(--white);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .page {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    margin: 0;
    
    display: grid;
    grid-template-areas: "T T T"
    "T T T"
    "T T T"
    "P P P";
  }
  
 .cards {
  margin-left: 5rem;
  margin-right: 10rem;
  grid-area: T;
  display: grid;
  grid-template-areas: "A B C"
 "D B F"
 "D E F";
 gap: 3.2rem;
  }

  .card-ice-cream-1 h2,
  .card-ice-cream-2 h2,
  .card-ice-cream-3 h2,
  .card-ice-cream-4 h2,
  .card-ice-cream-5 h2,
  .card-ice-cream-6 h2  {
    opacity: 0;
  }

  .card-ice-cream-1 {
    grid-area: A;
  }

  .card-ice-cream-2 {
    grid-area: B;
  }

  .card-ice-cream-3 {
    grid-area: E;
  }

  .card-ice-cream-4 {
    grid-area: D;
  }

  .card-ice-cream-5 {
    grid-area: C;
  }

  .card-ice-cream-6 {
    grid-area: F;
  }

  .card-ice-cream-1 img,
  .card-ice-cream-2 img,
  .card-ice-cream-3 img,
  .card-ice-cream-4 img,
  .card-ice-cream-5 img,
  .card-ice-cream-6 img {
    width: 22rem;
  }

 
  footer {
  opacity: 1;
  grid-area: P;
    margin-bottom: 4.6rem;
 }
 }

